<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teavaro.ecommDemoApp"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        tools:overrideLibrary="com.swrve.sdk, com.swrve.sdk.conversations, com.swrve.sdk.push, com.swrve.swrvesdkcommon,com.swrve.sdk.geo"/>
    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:icon="@mipmap/app_icon"
        android:name=".ui.FCApplication"
        android:supportsRtl="true"
        android:theme="@style/Theme.TeavaroDemoApp">
        <service android:name="com.swrve.sdk.SwrveFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <activity
            android:name="com.teavaro.ecommDemoApp.ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="www.teavarodemoapp.com"
                    android:scheme="http" />
            </intent-filter>
        </activity>
    </application>
</manifest>